@charset "utf-8";

.search{
	text-align: right;
	margin-right: 20px;
}
.add-goods a:hover {
	background:#ddac10;
}

.paginator{
	display:inline-block;
}
.paginator .current{
	border: 1px dotted;
	padding: 3px;
}


.bg1, .credit-card-icon, .delivery-icon, .phone-icon, .add-to-cart,
.add-to-cart1, .cart-icon20, .phone-icon1, .search-icon, .search-icon1,
.place-on-map-icon, .simbol1, .simbol11, .simbol3, .simbol2
{ display: inline-block; background: url('/skins/default/img/sprite.png') no-repeat; text-align: left; }

.bg1 { background-position: -0px -0px; width: 2050px; height: 1216px; }
.credit-card-icon { background-position: -0px -1216px; width: 60px; height: 60px; }
.delivery-icon { background-position: -60px -1216px; width: 60px; height: 60px; }
.phone-icon { background-position: -120px -1216px; width: 60px; height: 60px; }
.add-to-cart { background-position: -180px -1216px; width: 42px; height: 42px; float:right;}
.add-to-cart1 { background-position: -222px -1216px; width: 42px; height: 42px; }
.cart-icon20 { background-position: -264px -1216px; width: 24px; height: 20px; }
.phone-icon1 { background-position: -288px -1216px; width: 20px; height: 20px; }
.search-icon { background-position: -308px -1216px; width: 18px; height: 18px; }
.search-icon1 { background-position: -326px -1216px; width: 18px; height: 18px; }
.place-on-map-icon { background-position: -344px -1216px; width: 14px; height: 20px; }
.simbol1 { background-position: -358px -1216px; width: 13px; height: 8px; }
.simbol11 { background-position: -371px -1216px; width: 13px; height: 8px; }
.simbol3 { background-position: -384px -1216px; width: 13px; height: 8px; }
.simbol2 { background-position: -397px -1216px; width: 12px; height: 7px; }

.credit-card-icon, .delivery-icon, .phone-icon, .place-on-map-icon, .phone-icon1 {
	float:left;
	margin: 0 15px;
}

.phone-icon1, .place-on-map-icon{
	margin-left: 0;
}
.cart-icon20 {
	margin-right: 10px;
}
.simbol11:hover {background-position: -384px -1216px; width: 13px; height: 8px; }
.simbol1:hover { background-position: -397px -1216px; width: 13px; height: 8px;}
.search-icon:hover { background-position: -326px -1216px; width: 18px; height: 18px; }
.add-to-cart:hover { background-position: -222px -1216px; width: 42px; height: 42px; }

.search-icon {
	float: right;
	margin: 0 10px 10px 0;
}
body{
	background:url("/skins/default/img/bg.jpg") repeat;
	font-family: "PT Sans",sans-serif;
	font-size: 13px;
	color: #a7a293;
	margin:auto;
}
.clearfix{
	display:block;
}
.clearfix:before,.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
a{
	text-decoration:none;
}
header{
	background: #436300;
	border-bottom: 7px solid #4e6b0f;
	padding: 35px 0 110px 0;
}
.header-wrapper{
	width:980px;
	margin:auto;
}
.logo{
	float:left;
	display:block;
}
.head-right{
	float:right;
}
.cart,.account,.sign-in{
	background:#608408;
	color:#fff;
	font-family:"Trebuchet MS", sans-serif;
	font-size:16px;
	text-decoration:none;
	display:block;
	padding:11px 12px 8px 16px;
	float: left;
}
.cart>span{
	margin-right: 20px;
}
.account,.sign-in{
	background: #739710;
	padding: 15px 16px 14px;
	font-size: 13px;
	text-transform: uppercase;
	margin-bottom: 23px;
	transition: 0.7s;
}
.sign-in{
	background: #223d19;
}
.account{
	margin-left: 10px;
}
.lang-money{
	text-align: right;
	margin-right:20px;
}
.lang, .money{
	color:#fff;
	font-family:"Trebuchet MS", sans-serif;
	font-size:18px;
	text-decoration:none;
	padding-right: 12px;
	display:inline-block;
}
.cart:hover{
	background: #223d19;
}
.account:hover, .sign-in:hover{
	background:#e0b415;
}
.lang:hover, .money:hover {
	color:#223d19;
}
.header-content{
	background:url("/skins/default/img/bg1.jpg") no-repeat;
	background-position-y: -86px;
}
.header-content-wrapper{
	margin:auto;
	width:980px;
}
.main-nav {
	background:url("/skins/default/img/bg1.jpg") no-repeat;
}

.main-nav-wrapper{
	margin:auto;
	width:980px;
}
nav{
	padding: 37px 0 15px;
	float: left;
}
nav > div{
	display: inline-block;
	padding-bottom: 17px;
}
nav a{
	font-family: "Trebuchet MS", sans-serif;
	font-size:16px;
	text-transform: uppercase;
	color: #fff;
	margin-right: 30px;
	padding-bottom: 3px;
}
nav > a:hover{
	color: #c8e846;
	border-bottom: 3px solid;
}
.drop-menu{
	width:980px;
	margin:auto;
	position:absolute;
	background-color:white;
	padding-bottom: 43px;
	padding-top: 10px;
	top: 35px;
	left: -112px;
	display:none;
}

nav>div{
	position:relative;
}
nav > div:hover .drop-menu{
	display:block;
}
nav > div > a:hover {
	color: 	#c8e846;
	border-bottom: 3px solid;border-bottom: 3px solid;
;
}
.sub-drop-menu{
	float:left;
	margin-left: 15px;
}
.sub-drop-menu > a{
	margin-right:0;
}
.sub-drop-menu > a >h2{
	text-transform: uppercase;
	font: 600 13px "Trebuchet MS", sans-serif;
	color: #779c10;
}
.sub-drop-menu > a >h2:hover {
	color:#223d19;
}
.sub-drop-menu > ul{
	margin: 0;
	list-style: none;
	padding: 0 5px 0 0;
}
.sub-drop-menu >ul >li{
	padding: 5px;
}
.sub-drop-menu > ul > li > a{
	color: #223d19;
	font-size: 13px;
	font-weight: bold;
	line-height: 16px;
	text-transform:none;
}
.sub-drop-menu > ul > li>a:hover{
	color: #779c10;
}

.search-form{
	border-bottom: 1px solid #fff;
	color: #fff;
	float: right;
	width: 220px;
}
.search-input{
	background: none;
	border: none;
	height: 30px;
	padding: 0px 65px 0 9px;
}
.search-button{
	cursor:pointer;
	display:block;
}
.slogan > h3{
	color: #fffd4c;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 60px;
	font-weight: bold;
	line-height: 48px;
	margin: 0 0 15px;
	padding: 0;
	text-transform: uppercase;
}
.slogan > h4{
	color: #fff;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 48px;
	font-weight: bold;
	line-height: 48px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
.slogan{
	float:left;
	width: 273px;
	background: #ddac10;
	padding: 75px 0 139px 50px;
}
.main-img1{
	float: left;
}
.slogan1 {
	text-align:center;
	float:left;
	width: 323px;
	background: rgba(14, 35, 18, 0.72);
	padding: 35px 0 26px 0;
	margin: 45px 0 0 0;
	display:block;
}
.slogan1 > h3 {
	color: white;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 40px;
	line-height: 30px;
	margin: 0 0 6px;
	padding: 22px 0 0;
	text-transform: uppercase;
}
.slogan1 > h4{
	color: #9db608;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 26px;
	line-height: 30px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
.slogan1 > p, .enter-shop > p{
	background: none;
	border: 1px solid #c2c2c2;
	color: #cee182;
	display: inline-block;
	font: 18px "Trebuchet MS", sans-serif;
	margin-top: 6px;
	padding: 14px 25px;
	text-transform: uppercase;
}
.slogan1 > p:hover, .enter-shop > p:hover{
	border-color: #deae12;
	color: #deae12;
}
.enter-shop{
	text-align:center;
	float:right;
	width: 602px;
	background: rgba(14, 35, 18, 0.72);
	padding: 25px 0 24px 25px;
	margin: 45px 0 0 30px;
	display:block;
}
.enter-shop > h3,.enter-shop > h4 {
	color: white;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 40px;
	line-height: 30px;
	margin: 0 0 6px;
	text-transform: uppercase;
}
.enter-shop > h3{
	margin-top: 26px;
	color: #9db608;
}
.main-img2 {
	float:left;
}
.main-center{
	margin-bottom: 140px;
}
.main-conteiner{
	width: 980px;
	background-color: white;
	margin: auto;
	margin-top: -110px;
}
.page-conteiner {
	width:980px;
	background-color:white;
	margin:auto;
	text-align: center;
	padding: 40px 0;
}
.short-nav{
	display:inline-block;
	border-bottom: 1px solid #eae5d1;
	width: 860px;
	padding: 55px 0 40px 0;
	margin: 0 60px;
}
.short-nav > a{
	color: #4f4f4f;
	font: 22px "Trebuchet MS", sans-serif;
	padding: 13px 30px;
	margin-right: -2px;
}
.selected, .short-nav > a:hover{
	background: #ddac10;
	color:white;
}
.items-list1{
	width:885px;
	margin:auto;
}
.item-box {
	margin:30px 13px 0 13px;
	float:left;
	width:194px;
}
.item-foto >img{
	width:145px;
	height:145px;
	padding: 25px;
	transition: 0.7s;
}
.item-foto {
	margin-bottom:10px;
}
.item-foto:hover{
	box-shadow: 0 0 20px #e9f9a6;
}
.item-foto:hover > .quick-view{
	display:block;
}
.item-foto:hover > img{
	width:155px;
	height:155px;
	padding: 20px;
}
.item-name {
	color:#70bc1b;
	font-family:"Open Sans", sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height:15px;
}
.item-name:hover {
	color:#f5bf00;
}

.price-new{
	font: 24px "Trebuchet MS", sans-serif;
	color: #4d4d4d;
}
.price-old{
	font-size: 17px;
	color: #9db608;
	text-decoration: line-through;
	margin-right:5px;
}
.percent-discount{
	background: #f26d7d;
	border: none;
	font: 18px/20px "Trebuchet MS", sans-serif;
	color: white;
	padding: 0 5px 0 3px;
}
.product-short-text{
	color: #a7a293;
	font-size: 11px;
}
.sale{
	position:absolute;
	width:60px;
	left: 5px;
	top: 10px;
	background: #f26d7d;
	color: white;
	font: 11px "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 2px 0;
	text-align: center;
	text-transform: uppercase;
}
.quick-view{
	display:none;
	background: rgba(14, 35, 18, 0.52);
	color: #fff;
	font: 10px "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 4px 2px;
	position: absolute;
	left: 124px;
	text-align: center;
	width: 60px;
	top: 172px;
}
.quick-view:hover{
	color: #e2b717;
}
.box-ref{
	position:relative;
	display:block;
}
.custom-block{
	width: 860px;
	margin: auto;
	border-top: 1px solid #eae5d1;
	margin-top: 95px;
	padding: 65px 0;
}
.facebook-box{
	float:left;
}
.facebook-box > h4{
	color: #4f4f4f;
	font: 22px/24px "Trebuchet MS", sans-serif;
	margin: 0 0 28px;
}
.custom-info{
	width: 296px;
	float: left;
	margin-left: 30px;
}
.custom-info h4{
	color: #81c437;
	font: 15px/20px "Trebuchet MS", sans-serif;
	margin: 0 7px 0 0;
}
.custom-info p{
	margin: 0;
	font-size: 15px;
}
.phone{
	margin: 36px 0;
}
.custom-text{
	width:285px;
	float:right;
}
.custom-text h4{
	color: #4f4f4f;
	font: 22px/24px "Trebuchet MS", sans-serif;
	margin: 0 0 5px;
}
.custom-text h5{
	color: #f5bf00;
	padding-top: 5px;
	margin: 0;
	font-size: 17px;
}
.custom-text p{
	font-size:17px;
	margin: 8px 25px 0 0;
	line-height: 1.4;
}
footer {
	background-color:white;
	margin: auto;
	width: 980px;
	margin-bottom: 75px;
}
.footer-info{
	width: 860px;
	margin:auto;
	padding:45px 0;
	border-top: 1px solid #eae5d1;

}
.list-info, .list-my-acount{
	float:left;
}
.list-info{
	width: 165px;
}
.footer-info h4, .footer-info h4>a{
	color: #afa166;
	font: 24px/22px "Trebuchet MS", sans-serif;
	margin: 0 0 13px 0;
}
footer ul li a{
	color: #afa39f;
	font-size: 15px;
	text-transform: uppercase;
}
footer ul{
	list-style:none;
	padding-left: 0;
}
footer ul li{
	margin-bottom: 8px;
	padding-left: 0;
}
footer a:hover{
	color: #70bc1b;
}
footer ul li:hover {
	padding-left:10px;
	list-style-image: url('/skins/default/img/dash.jpg');
}
.store-info{
	float:right;
	width: 440px;
}
.store-info p{
	color: #9e9576;
	font: 17px "Trebuchet MS", sans-serif;
}
.store-info a{
	color: #f9d760;
	font-size: 17px;
}
.store-info a:hover {
	color: #70bc1b;
}
.newsletter{
	border-top: 1px solid #eae5d1;
	margin: 22px 0;
	padding-top: 10px;
}
.newsletter input{
	font-family: "PT Sans",sans-serif;
	font-size: 15px;
	color: #b7ae87;
	line-height: 30px;
	padding: 5px 150px 5px 12px;
}
.list-my-acount{
	margin-left: 48px;
	width: 186px;
}
button{
	border: none;
	background:white;
	color: #bcb186;
	margin-left: -30px;
	padding: 3px;
	font-size: 25px;
	cursor: pointer;
}
button:hover{
	color:#70bc1b;
}
.copyright{
	color:white;
	font-size:15px;
	background:#e0d29e;
	width:980px;
	padding: 25px 0;
}
.copyright>a {
	color:white;
	font-size:15px;
	text-transform:uppercase;
}
.copyright>span{
	margin-left: 67px;
}
.lessons-list{
	text-align: center;
}
.lessons-list ul {
	list-style:none;
}
.lessons-list a{
	color: #4f4f4f;
	font: 20px "Trebuchet MS", sans-serif;
	line-height:3;
	padding: 13px 30px;
	text-decoration: none;
}
.lessons-list a:hover{
	background: #ddac10;
}
.lessons-list h3{
	color: #afa166;
	font: 28px "Trebuchet MS", sans-serif;
	font-weight:bold;
	margin-left: 33px;
}
.filemen{
	font-size:16px;
	text-align:left;
	margin-left:370px;
}
.table{
	width:500px;
	margin-left: 237px;
}
.auth{
	width:860px;
	margin:auto;
	margin-bottom:30px;
}
.auth h3{
	border-bottom: 1px solid #eae5d1;
	color: #a7a293;
	font: 600 18px/22px "Trebuchet MS", sans-serif;
	margin: 0 0 30px;
	padding: 0 0 17px 0;
	text-transform: uppercase;
}
.auth h4{
	border-bottom: 1px solid #eae5d1;
	color: #a7a293;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: normal;
	margin: 0 0 12px;
	padding: 0 0 15px;
	text-transform: uppercase;
	text-align:center;
}

.auth-box,.reg-box {
	padding-top: 30px;
	text-align:left;
}

.auth label {
	color:#a7a293;
	display:inline-block;
	margin-bottom:5px;
	font-weight:bold;
}

.auth button, .new-comment button, .game button{
	background: #a50f61;
	border: none;
	color: #fff;
	margin: auto;
	font-size: 17px;
	padding: 10px;
	transition: 0.3s;
}
.auth button :hover{
	background: #16d1c3;
}
.reg-info{
	font-size:15px;
	border-top: 1px solid #eae5d1;
	padding-top:30px;
	margin-top: 40px;
}
.reg-list{
	list-style:none;
	text-align:left;
	margin-left: 350px;
}
.comments-block, .news-block, .googs-block{
	width:860px;
	margin: auto;
	font-size:15px;
	padding-bottom: 30px;
}
.comments{
	text-align: left;
}
.comment, .my-comment, .news, .goods {
	background-color:#F8F8DB;
	margin:10px;
	padding:5px;
	border:1px solid #eae5d1;
	border-radius:10px;
}
.my-comment {
	background-color:#D9EDF8;
}
.new-comment{
	width:860px;
	padding-top:30px;
	border-top:1px solid #eae5d1;
	margin:auto;
}
.new-comment h4{
	text-transform:uppercase;
	font-size:16px;
}
.new-comment form{
	text-align: left;
	margin-left: 241px;
}
.new-comment textarea{
	border:1px solid #eae5d1;
}
.auth-wrapper{
	width: 180px;
	margin: auto;
}
.reg-ok{
	text-align: center;
	font-size: 18px;
}
.comment-body{
	word-wrap: break-word;
}
.table > table{
	border: 1px black solid;
	width: 500px;
}
.table td{
	border: 1px black solid;
	height: 100px;
	text-align: center;
}
.yellow{
	background-color:yellow;
}
.green{
	background-color:green;
}
.red{
	background-color:red;
}
.orange{
	background-color:orange;
}
.hit{
	font-family: "PT Sans",sans-serif;
	font-size:20px;
	color:red;
}
.new-comment textarea{
 	width:372px;
	height:216px;
}
.add-news, .add-goods{
	font-size:20px;
	color:#a50f61;
	text-transform: uppercase;

}
.news, .goods{
	margin:0;
	text-align:left;
}
.news b, .goods b{
	font-size: 20px;
}
.comment-reg{
	text-align:center;
	margin-left: 354px;
}
.inpt{
	width: 180px;
}
.chbox{
	width: 20px;
}
